/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/bebas-neue-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas-neue-v9-latin-regular.woff2") format("woff2"), url("../fonts/bebas-neue-v9-latin-regular.woff") format("woff"), url("../fonts/bebas-neue-v9-latin-regular.ttf") format("truetype"), url("../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue") format("svg");
  /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(2, 6, 15, 0.953);
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}

main {
  padding: 0 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main h1 {
  color: aqua;
  text-align: center;
  font-size: 3em;
  letter-spacing: 15px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.sticky-top {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: fixed;
  top: 100px;
  left: 15%;
  z-index: -1;
  text-shadow: 0 0 10px rgba(5, 217, 250, 0.481);
}

.exercise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
  background-color: #181b23;
  width: 70%;
  max-width: 400px;
  height: 40px;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  padding: 10px;
  -webkit-box-shadow: 0 0 15px rgba(5, 217, 250, 0.481);
          box-shadow: 0 0 15px rgba(5, 217, 250, 0.481);
  border: 1px solid rgba(5, 217, 250, 0.481);
  letter-spacing: 3px;
  text-align: right;
  cursor: pointer;
}

.exercise span {
  margin-left: 10px;
}

.stickyBottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(38, 61, 81, 0.97);
  height: 80px;
  color: white;
  z-index: 10;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(5, 217, 250, 0.481);
}

.stickyBottomNav .bottomButton {
  background-color: #131d36;
  padding: 14px;
  font-size: 1.4em;
  border-radius: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.stickyBottomNav .bottomButton:hover {
  -webkit-box-shadow: 0 0 20px turquoise;
          box-shadow: 0 0 20px turquoise;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sticky-add-button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: rgba(5, 217, 250, 0.481);
  cursor: pointer;
}

h2 {
  color: rgba(5, 217, 250, 0.481);
  letter-spacing: 4px;
}

.newExercise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newExercise p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.newExercise label {
  color: yellow;
  letter-spacing: 4px;
}

.newExercise input {
  width: 100px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.newExercise #inpExercise_Name {
  width: 250px;
}

.newExercise .submitButton {
  color: lightgreen;
  background-color: green;
  width: 150px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  letter-spacing: 4px;
  font-size: 1.3em;
  margin: 50px auto;
  padding: 5px;
}

#outpExercise {
  color: yellow;
  font-size: 1.8em;
}

.training {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.training .labelWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.training label {
  color: aquamarine;
  letter-spacing: 4px;
}

.training input {
  width: 100px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.deleteButton {
  position: fixed;
  top: 10px;
  right: 15px;
  color: red;
  font-size: 1em;
}

.editButton {
  position: fixed;
  top: 10px;
  left: 15px;
  color: lightblue;
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */