$color-Primary: rgba(5, 217, 250, 0.481);
$color-Secondary: yellow;

/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bebas-neue-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bebas-neue-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
  }


body {
    margin: 0;
    padding: 0;
    background-color: rgba(2, 6, 15, 0.953);
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}


main {
    padding: 0 0 70px 0;
    display: flex;
    flex-direction: column;

    h1 {
        color: aqua;
        text-align: center;
        font-size: 3em;
        letter-spacing: 15px;
        transition: all 1s ease-in-out;
    }
}

.sticky-top {
    transition: all 1s ease;
    position: fixed;
    top: 100px;
    left: 15%;
    z-index: -1;
    text-shadow: 0 0 10px $color-Primary;
}



.exercise {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px auto;
    background-color: rgb(24, 27, 35);
    width: 70%;
    max-width: 400px;
    height: 40px;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    box-shadow: 0 0 15px $color-Primary;
    border: 1px solid $color-Primary;
    letter-spacing: 3px;
    text-align: right;
    cursor: pointer;

    span {
        margin-left: 10px;
    }
}


.stickyBottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(38, 61, 81, 0.97);
    height: 80px;
    color: white;
    z-index: 10;
    border-radius: 20px 20px 0 0;
    border: 1px solid $color-Primary;



    .bottomButton {
        background-color: rgb(19, 29, 54);
        padding: 14px;
        font-size: 1.4em;
        border-radius: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .5s ease;
        &:hover {
            box-shadow: 0 0 20px turquoise;
            transform: scale(1.1);
        }
    }
}


.sticky-add-button{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: $color-Primary;
}


h2 {
    color: $color-Primary;
    letter-spacing: 4px;
}


.newExercise {
    form {

        p {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            margin-top: 20px;
        }
        label {
            color: $color-Secondary;
            letter-spacing: 3px;
        }

        input {
            width: 150px;
            border-radius: 10px;
            height: 20px;
            outline: none;
            text-align: center;
        }

        .submitButton {
            color: lightgreen;
            background-color: green;
            width: 150px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            letter-spacing: 4px;
            font-size: 1.3em;
            margin: 50px auto;
            padding: 5px;
        }
    }
}
